.barra_lateral {
  width: 100px;
  background-color: #0a2a2a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.barra_lateral-logo-link {
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.barra_lateral-logo-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.barra_lateral-logo {
  width: 80px;
  height: auto;
}

.barra_lateral-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.barra_lateral-link {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.barra_lateral-link img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.barra_lateral-link.active,
.barra_lateral-link:hover {
  background-color: #005f73;
}
